@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400&display=swap');

@keyframes rightentry {
   from{transform: translateX(50rem); opacity: 0;}
   to{transform: translateX(0); opacity: 1;}
}

@keyframes leftentry {
   from{transform: translateX(-50rem); opacity: 0;}
   to{transform: translateX(0); opacity: 1;}
}

*{
  box-sizing: border-box;
}

ul {
   display: flex;
   flex-flow: row nowrap;
   justify-content: space-around;
   align-items: center;
   top: 0;
   position: fixed;
   list-style-type: none;
   overflow: hidden;
   background-color: rgba(0,0,0,0.5);
   margin: 0;
   padding: 0;
   left: 0;
   right: 0;
   width: 100%;
   text-align: center;
   z-index: 2;
   backdrop-filter: blur(3px);
}

li {
  padding: 1rem 0;
  font-weight: normal;
  font-size: .8rem;
}

li a {
   color: hsl(0,0%,70%);
   text-decoration: none;
   padding: 1rem 1.14rem 1rem 1rem;
   width: 100%;
}

li a:hover {
  background-color: hsl(0,0%,40%,.5);
}

li a:active{
  color: #efeff7;
  background-color: hsl(0,0%,70%,.5);
}

.header_cont{
   display: flex;
   flex-flow: column nowrap;
}

.header{
  font-size: 4.5em;
  text-align: center;
  font-weight: 400;
  line-height: 125%;
  color: #efeff7;
  animation-name: rightentry;
  animation-duration: 1.5s;
  animation-timing-function: ease-in-out;
  animation-iteration-count: 1;
}

body{
  font-family: Montserrat, 'Sans-Serif';
  background-color: black;
}

#nonav_body{
  padding: auto;
  margin: 1rem;
}

.specialities{
  text-align: center;
  font-weight: 400;
  font-size: 1rem;
  color: hsl(0,0%,60%);
  animation-name: leftentry;
  animation-duration: 1s;
  animation-timing-function: ease-in-out;
  animation-delay: 2s;
  animation-iteration-count: 1;
}

#logo_model{
  width: 100%;
  height: auto;
  margin: auto;
  border: none;
  animation-name: rightentry;
  animation-duration: 1.5s;
  animation-timing-function: ease-in-out;
  animation-delay: 1s;
  animation-iteration-count: 1;
}

.main_section{
  text-align: left;
  font-size: 2rem;
  font-weight: 300;
}

p,h1,h2,h3{
  color: #efeff7;
}

hr{
  width:50%;
  text-align:left;
  margin-left:0;
  height:0.05em;
  border-width:0;
  color: hsl(0,0%,60%);
  background-color: hsl(0,0%,60%);
}

.para_text{
  color: hsl(0,0%,60%);
  word-spacing: .1rem;
  line-height: 1.4rem;
  font-size: 1rem;
  text-align: justify;
  text-justify: inter-character;
  animation-name: rightentry;
  animation-duration: 2s;
  animation-delay: .2s;
  animation-timing-function: ease-out;
  animation-iteration-count: 1;
}

.cont{
  line-height: normal;
  text-align: left;
  word-spacing: normal;
  letter-spacing: .025rem;
}

.sub_section{
  text-align: left;
  font-size: 1.5rem;
  font-weight: 300;
}

.skills_sect{
   display: flex;
   flex-flow: column wrap;
}
.skills{
  color: hsl(0,0%,60%);
  letter-spacing: .15em;
  text-align: left;
  font-size: 1.2rem;
}

#myProgress {
  width: 100%;
  background-color: #efeff7;
  border-radius: .15rem;
}

#myBar {
  height: 2rem;
  background-color: hsl(0,0%,60%);
  border-radius: 0;
}

.stats_box {
  background-color: #efeff7;
  border-radius: .15rem;
}

#stats_content{
  color: hsl(0,0%,60%);
  font-size: 1rem;
  padding: 2rem;
  text-align: center;
}

#stats_figure{
  font-size: 1.5rem;
}

button{
   color: hsl(0,0%,30%);
   background-image: linear-gradient(to right, rgba(166, 166, 178, 1), rgba(239, 239, 247, 1));
   border: none;
   cursor: pointer;
   font-size: 1rem;
   font-weight: bold;
   width: 70%;
   height: 3.2rem;
   font-family: Montserrat, 'Sans-Serif';
   border-radius: .15rem;
   transition: background-image 2s ease-out 1s;
}

button:hover {
   background-image: linear-gradient(to left, rgba(166, 166, 178, 1), rgba(239, 239, 247, 1));
   color: hsl(0,0%,30%);
}

button .material-icons{
  vertical-align: middle;
  text-align: center;
  color: hsl(0,0%,30%);
}

.ava_float1, .ava_float2 {
  width: 4rem;
  height: 4rem;
  border-radius: 50%;
  border: none;
  padding: 0;
  box-shadow: .4rem .4rem .4rem #dbdce8, -.4rem -.4rem .4rem #fafafb;
}

.reput1{
  text-align: center;
  background-color: #efeff7;
  padding: 2rem 2rem .5rem 2rem;
  border-radius: .15em;
  display: flex;
  flex-flow: column nowrap;
}

#reput2{
  font-size: 1rem;
  text-align: center;
  color: hsl(0,0%,60%);
  padding-top: .3rem;
}

.firsttest, .sectest {
  visibility: hidden;
  width: 10rem;
  background-color: rgba(0,0,0,.3);
  color: #efeff7;
  text-align: center;
  box-shadow: 1.25rem 1.25rem 3.1rem rgba(0,0,0,0.5);
  padding: .4rem .1rem;
  margin-left: -5rem;
  top: 100%;
  left: 50%;
  border-radius: .4rem;
  position: absolute;
  z-index: 1;
  backdrop-filter: blur(3px);
}

.tooltip1, .tooltip2{
  position: relative;
  display: inline-block;
  z-index: 1;
}

.tooltip1:hover .firsttest, .tooltip2:hover .sectest {
  visibility: visible;
  opacity: 1;
}


.tooltip2:hover .sectest {
  visibility: visible;
}

.tooltip1 .firsttest, .tooltip2 .sectest {
  opacity: 0;
  transition: opacity 1s;
}

.tooltip1 .firsttest::after, .tooltip2 .sectest::after {
  content: " ";
  position: absolute;
  bottom: 100%;
  left: 50%;
  margin-left: -.4rem;
  border-width: .4rem;
  border-style: solid;
  border-color: transparent transparent black transparent;
  opacity: .3;
  backdrop-filter: blur(5px);
}

.img_flex{
   background-color: #efeff7;
   border: .1rem dashed #999;
   width: 100%;
   height: 20rem;
   margin-bottom: 1rem;
   display: flex;
   flex-flow: row wrap;
   overflow-y: scroll;
}

.img_border{
  width: 100%;
  height: auto;
  border: none;
  padding-bottom: .02rem;
  margin: 1rem;
  border-radius: 0 0 .5rem .5rem;
  background-color: #000;
  box-shadow: 0 .4rem 1rem #666;
}

img{
  width: 100%;
  height: auto;
  border-radius: 0 0 .15rem .15rem;
}

figcaption{
  color: #efeff7;
  font-size: .9em;
  text-align: center;
  font-style: italic;
  font-weight: 500;
  padding: .3rem;
}

.img_swipe_up{
   display: flex;
   justify-content: center;
   color: #efeff7;
}

.img_swipe_left{
   display: none;
}

.material-icons.md-36{
  font-size: 3rem;
  color: #efeff7;
}

.cont .material-icons.md-36{
  vertical-align: middle;
}

.form{
   display: none;
}

input{
  width:100%;
  height: 4rem;
  font-size: 1.2rem;
  font-family: Montserrat, 'sans-serif';
  padding-left: 1.5rem;
  margin-bottom: 1rem;
  border: none;
  border-radius: .15rem;
  background-color: #efeff7;
}

::placeholder{
  font-family: Montserrat, 'sans-serif';
  font-size: 1.2rem;
}

.contact_sect{
   display: flex;
   flex-flow: column nowrap;
}

.contact_btns{
   display: flex;
   flex-flow: row nowrap;
   justify-content: space-between;
   margin: 0;
   padding: auto;
}

.cont_btn, .material-icons{
   vertical-align: middle;
}

.cont_btn:last-child{
   padding-right: 0;
}

.send_msg1{
   margin-right: 1rem;
}

.send_msg2{
   margin-left: 1rem;
}

.send_msg1, .send_msg2{
   color: hsl(0,0%,30%);
   background-image: linear-gradient(to right, rgba(166, 166, 178, 1), rgba(239, 239, 247, 1)); 
   border: none;
   cursor: pointer;
   font-size: 1rem;
   font-weight: bold;
   width: auto;
   height: 3.2rem;
   font-family: Montserrat, 'Sans-Serif';
   border-radius: .15rem;
   transition: background-image 2s ease-out 1s;
}

.send_msg:hover{
   color: hsl(0,0%,30%);
   background-image: linear-gradient(to left, rgba(166, 166, 178, 1), rgba(239, 239, 247, 1))
}

.footertext{
  color: hsl(0,0%,60%);
  text-align: center;
  font-size: .5rem;
}

.brandname{
  font-weight: 1000;
  font-size: 1rem;
  color: #efeff7;
}

.brandname, .footertext{
  vertical-align: middle;
}

@media only screen and (min-width: 768px) {
   ul{
      justify-content: flex-start;
   }
   .header_cont{
      flex-flow: row nowrap;
      align-items: center;
   }
   .header_text{
      margin-left: 5rem;
   }
   .header, .specialities{
      text-align: right;
   }
   .skills_sect{
      flex-flow: row-reverse nowrap;
   }
   .skills_box{
      flex: 50%;
      margin-left: 1rem;
   }
   .stats_box{
      flex: 50%;
      margin-right: 1rem;
   }
   .reput1{
      flex-flow: row nowrap;
      justify-content: space-evenly;
   }
   .img_flex{
      width: 100%;
      height: 30rem;
      margin-bottom: 1rem;
      flex-flow: row nowrap;
      overflow-x: scroll;
   }
   .img_border{
      width: 100%;
      height: auto;
      margin: 1rem;
      padding: auto;
   }
   img{
      width: 25rem;
      height: 26rem;
   }
   .img_swipe_left{
      display: flex;
      justify-content: center;
      color: #efeff7;
   }
   .img_swipe_up{
      display: none;
   }
   .main_section, .sub_section{
      text-align: center;
   }
   .hr{
      width: 20%;
      margin: auto;
   }
   .contact_info, .cont{
      text-align: center;
   }
   .contact_btns{
      justify-content: center;
   }
   .send_msg1, .send_msg2{
      padding: 1rem;
      margin: 1rem;
   }
   .para_text{
      text-align: center;
   }
}
